@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Source+Sans+3:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    scroll-behavior: smooth;
}

@layer components {
    .btn-cta {
        @apply px-5 py-2 font-dmSans font-semibold text-base transition-all hover:text-white active:bg-slate-800 hover:bg-primary
    }

    .btn-hero {
        @apply px-8 py-4 font-dmSans font-semibold text-base transition-all text-white hover:text-white active:bg-slate-800 bg-primary hover:bg-slate-500
    }

    .max-container {
        max-width: 1440px;
        margin: 0 auto;
    }  
}

@layer utilities {
    .padding-x {
        @apply lg:px-[150px] px-5;
    }

    .padding-top {
        @apply pt-[40px];
    }   

    .nav-active {
        @apply text-primary font-semibold;
    }
}